# launch agent to backup key files using rclone. See ~/.config/rclone/rclone.conf
# To download a journal entry we use remote:journal
# > rclone copy remote:journal/entries/<yyyy>-<mm>-<dd>.md ./
# To download a taxes entry we use secret:encrypted_taxes
# > rclone copy secret:encrypted_taxes/<file> ./

Label: chezmoi.wesb.macos-backup
UserName: wesb
EnvironmentVariables:
  PATH: /opt/homebrew/bin:/usr/bin:/bin
StandardOutPath: /tmp/macos-backup.out.log
StandardErrorPath: /tmp/macos-backup.err.log
KeepAlive: true
ProcessType: Background
ProgramArguments:
  - /bin/sh
  - -c
  - >-
    wget -q -O /dev/null https://hc-ping.com/{{ index .heartbeat_ids "macos-backups" }}/start
    &&
    echo "start rclone commands\n" >&2
    &&
    rclone sync -v --exclude '.git/' $HOME/code/go/src/github.com/wburningham/journal remote:journal
    &&
    rclone sync -v --exclude '.DS_Store' $HOME/Files/P1S/3d-models remote:3d-models
    &&
    rclone sync -v --exclude '.DS_Store' $HOME/Files/taxes secret:encrypted_taxes
    &&
    echo "rclone commands complete\n" >&2
    &&
    wget -q -O /dev/null https://hc-ping.com/{{ index .heartbeat_ids "macos-backups" }}/$?

RunAtLoad: true
StartCalendarInterval:
  - Minute: 0
ThrottleInterval: 3600
