Label: chezmoi.wesb.stm
UserName: wesb
EnvironmentVariables:
  PATH: /opt/homebrew/bin:/usr/bin:/bin
StandardOutPath: /tmp/stm.out.log
StandardErrorPath: /tmp/stm.err.log
ProgramArguments:
  - /bin/sh
  - -c
  - >-
    $HOME/go/bin/stm
    &&
    curl -sf https://hc-ping.com/{{ index .heartbeat_ids "stm" }}
    &&
    echo ""

RunAtLoad: true
StartInterval: 1800
